
/* Adjust heading and content area of the dedication page */
#dedication .section.quire-page__content {
  height: 50vh;
  text-align: center;
}
#dedication .quire-page__content .container .content {
  background-color: transparent;
}
#dedication .quire-page--frontmatter {
  page: no-footer;
}
#dedication .quire-page__header__title {
  display: none;
}
#dedication .quire-contents-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Add special highlight style for bold text as design element
   currently uses the standard $quire-hover-color */
.quire-page__content .container .content strong {
  background-color: #000;
  color: #fff;
  padding: 0 .2em;
}

/* Adjust the display of authors and titles in contributors list */
.quire-contributors-list .title, .content ul.quire-contributors-list .title {
  font-weight: 400;
}
.title span.quire-contributor__name {
  font-weight: 700;
}