/* Style bibliographic lists when short form is not displayed */
.quire-page__content .container .content .quire-page__content__references ul {
  list-style-type: none;
  margin-left: 0;
}
.quire-page__content .container .content
.quire-page__content__references ul li {
  margin-left: 0;
}
.quire-page__content .container .content
.quire-page__content__references ul li:before {
  content: none;
}

/* Adjust heading and content area of the dedication page */
#dedication .section.quire-page__content {
  height: 50vh;
  text-align: center;
}
#dedication .quire-page__content .container .content {
  background-color: transparent;
}
#dedication .quire-page--frontmatter {
  page: no-footer;
}
#dedication .quire-page__header__title {
  display: none;
}

/* Add special highlight style for bold text as design element
   currently uses the standard $quire-hover-color */
.quire-page__content .container .content strong {
  background-color: #F9F9A3;
  text-transform: capitalize;
  padding: .1em .5em;
}

/* Adjust the display of authors and titles in contributors list */
.quire-contributors-list .title, .content ul.quire-contributors-list .title {
  font-weight: 400;
}
.title span.quire-contributor__name {
  font-weight: 700;
}